{% extends 'main.html' %}

{% block content %}
<div class="main-menu" id="mainMenu">
    <div class="workout-div">
        <div class="user-box">
            {% if request.user.is_authenticated %}
            <p>Hello, {{request.user}}</p>
            {% endif %}
        </div>
        <div class="workout-box">
            <div id="workoutTitle" class="workout-title"></div>
            <div id="exercisesBox" class="exercise-box"></div>
        </div>
    </div>
    <div class="info-div">
        <div id="buttonBox" class="buttons-box">
            <button id="startButton">Start workout</button>
            <button id="postopneButton">Skip workout</button>
        </div>
    </div>
</div>

<div class="workout-menu" id="workoutMenu">
    <div class="workout-window">
        <div class="current-exercise">
            <div class="exercise-name" id="exerciseName"></div>
            <div class="sets-window" id="setsWindow">



            </div>
            <div class="workout-buttons">
                <button id="cancelWorkout">Cancel workout</button>
                <button id="exerciseButton">Start Workout</button>
            </div>
        </div>

        <div class="details-div">
            <div class="current-exercise-details">
                <p>Exercise details</p>
                <div class="exercise-description" id="exerciseDescription"></div>
                <div class="exercise-video"></div>
            </div>

            <div class="ex-list" id="exerciseList">

            </div>
        </div>


    </div>
</div>











{% endblock content %}

{% load static %}

{% block scripts %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}