{% extends 'main.html' %}
{% block content%}
<div class="library">

    <div class="library-content">
        <div class="exercise-name" id="exercise-name"></div>

        <div class="exercise-content">
            <div class="exercise-left-box">
                <div class="exercise-video" id="exercise-video"></div>
                <div class="exercise-muscles" id="exercise-muscles"></div>
            </div>

            <div class="exercise-description" id="exercise-description"></div>
        </div>
    </div>

    <div class="library-search">
        <div class="exercise-search-box">
            <div class="exercise-search-bar">
                <input type="text" id="exercise-search-box" class="search-box" placeholder="Search exercise...">
            </div>
            <div class="exercise-categories">
                <select id="category-filter" class="search-box" class="dropdown">
                    <option value="all">All</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="exercise-list">
            {% for category in categories %}
                <div class="exercise-category" data-category-id="{{ category.id }}">
                    {{ category.name }}
                    <div class="category-exercises">
                        {% for exercise in category.category_exercises.all %}
                            <div class="exercise-item">
                                <a href="#" class="exercise-link" data-exercise-id="{{ exercise.id }}">{{ exercise.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}

{% load static %}

{% block scripts %}
    <!-- Link the specific script for the Library page -->
    <script src="{% static 'js/library.js' %}"></script>
{% endblock %}