{% extends 'main.html' %}

{% block content %}
<div class="exercise-creator-body">

    <div class="main-box">

        <div class="title-box" >
            <select id="selectBox" class="search-box hide"></select>
            <div id="titleTextBox" class="hide"></div>
        </div>

        <div class="main-window" id="mainWindow">
        </div>

    </div>


    <div class="secondary-box hide" id="secondaryBox">

        <div class="secondary-box-display">

            <div class="workout-details hide" id="workoutDetailsBox">
                <label>Name:</label>
                <input id="workoutName" type="text">

                <label>Rest Days:</label>
                <input id="workoutRestDays" type="number">

                <label>Start Date:</label>
                <input id="workoutStartDate" type="date">

                <button id="saveWorkout" data-mode="">Save</button>
                <button id="deleteWorkout" class="hide">Delete</button>
                <button id="createWorkout" class="hide">Create new workout</button>
                <button id="cancelCreation" class="hide">Cancel<block>
            </div>

            <div class="creator-library hide" id="exerciseListBox">
                <div class="creator-exercise-search-box">
                    <div class="exercise-search-bar">
                        <input type="text" id="exercise-search-box" class="search-box" placeholder="Search exercise...">
                    </div>
                    <div class="exercise-categories">
                        <select id="categoryFilter" class="search-box" class="dropdown">
                            <option value="all">All</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
        
                <div class="creator-exercise-list">
                    {% for category in categories %}
                        <div class="exercise-category" data-category-id="{{ category.id }}">
                            {{ category.name }}
                            <div class="category-exercises">
                                {% for exercise in category.category_exercises.all %}
                                    <div class="exercise-item">
                                        <a href="#" class="exercise-link" id="addExercise" data-exercise-id="{{ exercise.id }}">{{ exercise.name }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>


        </div>
        
        <div class="secondary-box-details">
            <div class="library-window hide" id="libraryWindow">
                <!-- <div class="creator-exercise-content">

                    <div class="creator-exercise-video" id="exerciseVideo"></div>
                    <div class="creator-exercise-description" id="exerciseDescription"></div>
                    
                </div> -->
                <div class="day-creator-buttons">
                    <button id="cancelDayCreation">Cancel</button>
                    <button id="saveDay">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}


{% load static %}

{% block scripts %}
    <!-- Link the specific script for the Library page -->
    <script src="{% static 'js/workout_creator.js' %}"></script>
{% endblock %}