{% extends 'main.html' %}

{% block content %}
<div class="exercise-creator-body">
    <div class="main-box">
        <div class="workouts-list">
            <select id="workout-select" class="search-box" class="dropdown">
                <!-- {% for workout in workouts %}
                <option value="{{ workout.id }}">{{ workout.name }} dupa</option>
                {% endfor %} -->
            </select>
        </div>
        <div class="main-window">



        </div>
    </div>

    




    <div class="secondary-box">
        <div class="workout-edit">
            <div class="workout-name">
                <input type="text" id="workout-name-edit" class="search-box" placeholder="Search exercise...">
            </div>
            <div class="days-between">day between</div>
            <div class="start-date">start-date</div>
            <div class="save-exercise">save exercise</div>
            <div class="delete-exercise">delete</div>

        </div>
        <div class="ai-box">ai</div>
    </div>


</div>
{% endblock %}


{% load static %}

{% block scripts %}
    <!-- Link the specific script for the Library page -->
    <script src="{% static 'js/workout_creator.js' %}"></script>
{% endblock %}