@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --bg-white: #F8F9FA;
    --bg-red: #E36868;
    --font-white: white;
    --font-red: #DD0004;
    --content-border: 2px solid var(--bg-red);
    --content-border-bold: 4px solid var(--bg-red);
    --default-border-radius: 8px;
    --bg-blue: #4A90E2;
    --font-dark: #212529;
    
}

/*========== base styles ==========*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px
}

h1{
    font-family: "Fugaz One";
}

body{
    background-color: var(--bg-white);
    color: var(--font-red);
    font-family: "Inria Sans";
    min-height: 100vh;
}

button{
    background: none;
    border-radius: var(--default-border-radius);
    border: none; 
    color: inherit;
    font: inherit; 
    padding: 0; 
    cursor: pointer;
    padding: 0.5rem;
    border: var(--content-border);
    box-shadow: 1px 1px  var(--font-red);
}

button:hover{
    background-color: var(--bg-red);
    color: var(--bg-white);
    border-radius: var(--default-border-radius);
}

/*========== components ==========*/

.input-field{
    width: 30rem;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: inherit;
    outline: none;
}

.search-box{
    height:100%;
    width: 100%;
    display: block; 
    caret-color: var(--font-red);
    border: none;
    border-radius: var(--default-border-radius);
    color: var(--font-red);
    padding: 0.25rem;
    outline: none;
    background-color: var(--bg-white);
}

input:focus {
    outline:none;
    border: none;
}

.dropdown{
    background-color: var(--bg-red);
    color:var(--bg-white);
}


/*========== login page ==========*/

.login-body{
    background-color: var(--bg-red);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

.login-app-title{
    font-size: 10rem;
    height: 12rem;
    font-weight: normal;
}

.login-title-container{
    border-bottom: 3px solid white;
    height: 12rem;
}
.divider{
    width: 45rem;
    border: 0.20rem solid var(--font-white);
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: inherit;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 8rem;
    font-size: 1.5rem;
}

.login-page-button{
    border: none;
    color: var(--font-white);
    background-color: Transparent;
    cursor: pointer;
    transition: 0.1s;
    font-size: 1.2rem;
}
a.login-page-button{
    text-decoration: none;
}
.login-page-button:hover{
    font-weight: bold;
}


/*========== site layout ==========*/

.main-body{
    display: flex;
}

/*========== navbar ==========*/

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-red);
    width: 15rem;
    flex-shrink: 0;
    padding: 1.5rem;;
} 

.navbar-logo{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
.navbar-logo hr{
    color: var(--bg-white);
    border: 0.1rem solid var(--font-white);
}
.navbar-logo h1{
    color:var(--bg-white);
    height: 4rem;
}
.navbar-logo a{
    text-decoration: none;
}

.navbar-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.navbar-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    gap: 2rem;
    padding-top: 4rem;
}
.navbar-buttons a{
    text-decoration: none;
    color: var(--bg-white);
    width: 100%;
    border-bottom: 2px solid transparent;
}
.navbar-buttons a:hover{
    border-bottom: 2px solid var(--bg-white);
}

.logout-button{
    margin-top: auto;
}
.logout-button a{
    text-decoration: none;
    color: var(--bg-white);
    font-size: 1rem;
}
.logout-button a:hover{
    font-weight:bold;
}

/*========== home ==========*/

.main-menu{
    height: 100vh;
    display: flex;
    flex: 1;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 3rem;
}

.workout-div{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.info-div{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-box{
    font-size: 2rem;
}
.workout-box{
    border: var(--content-border);
    border-radius: var(--default-border-radius);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

.workout-title{
    text-align: center;
    font-size: 2em;
    padding: 1rem;
    border-bottom: var(--content-border);
    width: 100%;
    background: var(--bg-red);
    color: var(--bg-white);
    
}

.exercise-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    overflow-y: auto;
}

.day-message{
    font-size: 3rem;
    align-self: center;
    text-align: center;
}

.exercise{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border: var(--content-border);
    border-radius: var(--default-border-radius);
    flex: 1;
    font-size: 1.5rem;
    padding: 1rem;
}

.display-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 30%;
}

.display-name{
    flex: 1;
    text-align: center;
    font-size: 3rem;
}

.display-rest{
    width: 30%;
    text-align: center;
}


.buttons-box{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 3rem;
    overflow: hidden;
}






/*========== library ==========*/
.library{
    display:flex;
    flex: 1;
    height: 100vh;
    font-size: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    gap: 1rem;
    overflow: hidden;
}

.library-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.library-search{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.exercise-name{
    text-align: center;
    border: var(--content-border);
    border-radius: var(--default-border-radius);
    width: 40rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    height: 3rem;
}

.exercise-content{
    border: var(--content-border);
    border-radius: var(--default-border-radius);
    display: flex;
    flex: 1;
    align-self: stretch;
    overflow: hidden;
}

.exercise-left-box{
    border-right: var(--content-border);
    display: flex;
    flex-direction: column;
    flex:5;
}

.exercise-description{
    flex:5;
}

.exercise-video{
    flex: 5;
    border-bottom: var(--content-border);
}

.exercise-muscles{
    flex:5;
}


.library-search{
    display: flex;
    flex-direction: column;
}

.exercise-search-box{
    display: flex;
    margin-top: 3.25rem;
    margin-bottom: 0.5rem;
    margin-left:0.25rem;
    margin-right:0.25rem;
    font-size: 1rem;
    gap: 0.5rem; 
}

.exercise-search-bar{
    border: var(--content-border);
    border-radius: var(--default-border-radius);
    width: 70%;
}

.exercise-categories{
    border: var(--content-border);
    border-radius: var(--default-border-radius);
    text-align: center;
    flex: 1;
}

.exercise-list{
    border: var(--content-border);
    border-radius: var(--default-border-radius);
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--font-red);
    align-items: center;
}

.exercise-category{
    font-size: 1.5rem;
    font-weight: bold;
    width: 95%;
    text-align: center;
}

.category-exercises{
    display: flex;
    flex-direction: column;
    border-top:var(--content-border);
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.exercise-item{
    border: var(--content-border);
    border-radius: var(--default-border-radius);
    height: 4rem;
    overflow: hidden;
    background-color: var(--bg-white);
}

a.exercise-link{
    text-decoration: none;
    color:var(--font-red);
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
}
a.exercise-link:hover{
    background-color: var(--bg-red);
    color:var(--bg-white)
}

/*========== Creator ==========*/
/* main */
.exercise-creator-body{
    display:flex;
    flex: 1;
    height: 100vh;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    gap: 1rem;
    overflow: hidden;
}

.main-box{
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-box{
    border: var(--content-border-bold);
    border-radius: var(--default-border-radius);
    height: 5%;
    width: 50%;
    overflow: hidden;
}
.title-box select{
    font-size: 1.5rem;
    text-align: center;
}
.title-box div{
    text-align: center;
}

.main-window{
    border: var(--content-border-bold);
    border-radius: var(--default-border-radius);
    height: 95%;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width:100%;
}
.main-window p{
    padding: 2rem;
}

.secondary-box{
    width: 19%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.secondary-box-display{
    border: var(--content-border-bold);
    border-radius: var(--default-border-radius);
    height: 70%;
    overflow: auto;
}

.secondary-box-details{
    border: var(--content-border-bold);
    border-radius: var(--default-border-radius);
    height: 30%;
    overflow: auto;
}

.workout-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
}
.workout-details input{
    border: none;
    text-align: center;
    
    background: white;
    border: none; 
    color: grey;
    font: inherit;
    padding: 0; 
}

.workout-inputs{
    display: flex;
    text-align: center;
    flex-direction: column;
    
}

.workout-buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.workout-buttons button{
    border: var(--content-border);
    margin: 0.5rem;
    border-radius: var(--default-border-radius);
}

#createFirstWorkout{
    font-size: 3rem;
    margin: auto;
    font-weight: bold;
}
#createFirstWorkout:hover{
    font-size: 3.5rem;

}

#addDayBtn{
    margin: 1rem;
}


/* days */

.workout-day{
    display: flex;
    padding: 0.5rem;
    width: 100%;
    min-height: 20%;
}

.day-content{
    display: flex;
    border: var(--content-border);
    border-radius: var(--default-border-radius);
    padding: 0.5rem;
    flex: 1;
    overflow-x: auto;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.day-number{
    border: var(--content-border);
    border-radius: 75px;
    width: 2.7rem;
}

.workout-exercise{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-left: var(--content-border);
    padding-left: 1rem;
    width: 10%;
    height: 100%;
    overflow: hidden;
    flex: 1;
}

.workout-exercise-reps-sets{
    font-size: 1.5rem;
}

.workout-exercise-weight-rest{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    gap: 1rem;
}

.day-buttons{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 10%;
    gap: 1rem;
    margin-left: 0.5rem;
}

/*  day menu */
.day-exercise-box{
    /* margin: 0.5rem; */
    display:flex;
    min-height: 15%;
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.exercise-details-box{
    display: flex;
    border: var(--content-border);
    border-radius: var(--default-border-radius);
    padding: 0.5rem;
    /* flex: 1; */
    overflow-x: auto;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

.name-div{
    border-left: var(--content-border);
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    overflow: hidden;
}


.exercise-content-div{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-around;
    flex: 1;
    height: 100%;
    padding-left: 0.5rem;
    border-left: var(--content-border)
}
.exercise-content-div input{
    border: none;
    text-align: center;
    background: white;
    border: none; 
    color: grey;
    font: inherit;
    padding: 0; 
}

.exercise-details-order{
    border: var(--content-border);
    border-radius: 75px;
    width: 2.7rem;
}






/*  exercise list */
.creator-exercise-list-class{
    display:flex;
    flex-direction: column;
    border: var(--content-border);
}

.creator-library{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.creator-exercise-search-box{
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem;
}

.creator-exercise-list{
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
}

/* exercise details windows */
.library-window{
    height: 100%;
    display:flex;
    flex-direction: column;
}

.creator-exercise-content{
    display: flex;
    overflow: hidden;
}

.day-creator-buttons{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem;
    gap: 1rem;
    justify-content: center;
}

